/* RESET */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}



/* SCROLL SUAVE */

html{
  scroll-behavior: smooth;
}



/* SCROLL BAR */

/* Tamanho */
::-webkit-scrollbar {
  width: 10px; 
}

/* Fundo da barra */
::-webkit-scrollbar-track {
  background: black; 
}

/* O pegador da barra */
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.3); 
  border-radius: 10px;
  border: 2px solid #0c0333; 
}

/* Hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.5);
}